<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyuan.web.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.qiyuan.web.entity.Orders">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="paid" jdbcType="BIT" property="paid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="shipping_method_id" jdbcType="CHAR" property="shippingMethodId" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="invoice_target" jdbcType="NVARCHAR" property="invoiceTarget" />
    <result column="recipient_name" jdbcType="NVARCHAR" property="recipientName" />
    <result column="recipient_phone" jdbcType="VARCHAR" property="recipientPhone" />
    <result column="recipient_address" jdbcType="NVARCHAR" property="recipientAddress" />
    <result column="remark" jdbcType="NVARCHAR" property="remark" />
    <result column="tracking_no" jdbcType="VARCHAR" property="trackingNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, total_amount, paid, status, shipping_method_id, invoice_type, invoice_target, 
    recipient_name, recipient_phone, recipient_address, remark, tracking_no, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.qiyuan.web.entity.example.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExampleWithPage" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
      OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qiyuan.web.entity.example.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qiyuan.web.entity.Orders">
    insert into orders (id, user_id, total_amount, 
      paid, status, shipping_method_id, 
      invoice_type, invoice_target, recipient_name, 
      recipient_phone, recipient_address, remark, 
      tracking_no, create_time, update_time
      )
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{paid,jdbcType=BIT}, #{status,jdbcType=VARCHAR}, #{shippingMethodId,jdbcType=CHAR}, 
      #{invoiceType,jdbcType=VARCHAR}, #{invoiceTarget,jdbcType=NVARCHAR}, #{recipientName,jdbcType=NVARCHAR}, 
      #{recipientPhone,jdbcType=VARCHAR}, #{recipientAddress,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}, 
      #{trackingNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qiyuan.web.entity.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="paid != null">
        paid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shippingMethodId != null">
        shipping_method_id,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="invoiceTarget != null">
        invoice_target,
      </if>
      <if test="recipientName != null">
        recipient_name,
      </if>
      <if test="recipientPhone != null">
        recipient_phone,
      </if>
      <if test="recipientAddress != null">
        recipient_address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="trackingNo != null">
        tracking_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        #{paid,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="shippingMethodId != null">
        #{shippingMethodId,jdbcType=CHAR},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTarget != null">
        #{invoiceTarget,jdbcType=NVARCHAR},
      </if>
      <if test="recipientName != null">
        #{recipientName,jdbcType=NVARCHAR},
      </if>
      <if test="recipientPhone != null">
        #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null">
        #{recipientAddress,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="trackingNo != null">
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qiyuan.web.entity.example.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.totalAmount != null">
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.paid != null">
        paid = #{record.paid,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingMethodId != null">
        shipping_method_id = #{record.shippingMethodId,jdbcType=CHAR},
      </if>
      <if test="record.invoiceType != null">
        invoice_type = #{record.invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceTarget != null">
        invoice_target = #{record.invoiceTarget,jdbcType=NVARCHAR},
      </if>
      <if test="record.recipientName != null">
        recipient_name = #{record.recipientName,jdbcType=NVARCHAR},
      </if>
      <if test="record.recipientPhone != null">
        recipient_phone = #{record.recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.recipientAddress != null">
        recipient_address = #{record.recipientAddress,jdbcType=NVARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.trackingNo != null">
        tracking_no = #{record.trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set id = #{record.id,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=CHAR},
      total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      paid = #{record.paid,jdbcType=BIT},
      status = #{record.status,jdbcType=VARCHAR},
      shipping_method_id = #{record.shippingMethodId,jdbcType=CHAR},
      invoice_type = #{record.invoiceType,jdbcType=VARCHAR},
      invoice_target = #{record.invoiceTarget,jdbcType=NVARCHAR},
      recipient_name = #{record.recipientName,jdbcType=NVARCHAR},
      recipient_phone = #{record.recipientPhone,jdbcType=VARCHAR},
      recipient_address = #{record.recipientAddress,jdbcType=NVARCHAR},
      remark = #{record.remark,jdbcType=NVARCHAR},
      tracking_no = #{record.trackingNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiyuan.web.entity.Orders">
    update orders
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="shippingMethodId != null">
        shipping_method_id = #{shippingMethodId,jdbcType=CHAR},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTarget != null">
        invoice_target = #{invoiceTarget,jdbcType=NVARCHAR},
      </if>
      <if test="recipientName != null">
        recipient_name = #{recipientName,jdbcType=NVARCHAR},
      </if>
      <if test="recipientPhone != null">
        recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null">
        recipient_address = #{recipientAddress,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="trackingNo != null">
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiyuan.web.entity.Orders">
    update orders
    set user_id = #{userId,jdbcType=CHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      paid = #{paid,jdbcType=BIT},
      status = #{status,jdbcType=VARCHAR},
      shipping_method_id = #{shippingMethodId,jdbcType=CHAR},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      invoice_target = #{invoiceTarget,jdbcType=NVARCHAR},
      recipient_name = #{recipientName,jdbcType=NVARCHAR},
      recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      recipient_address = #{recipientAddress,jdbcType=NVARCHAR},
      remark = #{remark,jdbcType=NVARCHAR},
      tracking_no = #{trackingNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>