<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyuan.web.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.qiyuan.web.entity.Orders">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="external_order_no" jdbcType="VARCHAR" property="externalOrderNo" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="paid" jdbcType="BIT" property="paid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="shipping_method_id" jdbcType="CHAR" property="shippingMethodId" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="invoice_target" jdbcType="NVARCHAR" property="invoiceTarget" />
    <result column="recipient_name" jdbcType="NVARCHAR" property="recipientName" />
    <result column="recipient_phone" jdbcType="VARCHAR" property="recipientPhone" />
    <result column="recipient_address" jdbcType="NVARCHAR" property="recipientAddress" />
    <result column="remark" jdbcType="NVARCHAR" property="remark" />
    <result column="tracking_no" jdbcType="VARCHAR" property="trackingNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="store_name" jdbcType="NVARCHAR" property="storeName" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="recipient_city" jdbcType="NVARCHAR" property="recipientCity" />
  </resultMap>
  <resultMap id="OrderQueryResultMap" type="com.qiyuan.web.dto.response.OrderQueryResultVO">
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="total_amount" property="totalAmount" />
    <result column="status" property="status" />
    <result column="provider_order_no" property="providerOrderNo" />
    <result column="paid" property="paymentStatus" />
    <result column="shipping_method_name" property="shippingMethodName" />
    <result column="tracking_no" property="trackingNo" />
    <result column="logistics_status" property="logisticsStatus" />
    <result column="logistics_record_status" property="logisticsRecordStatus" />
    <result column="invoice_type" property="invoiceType" />
    <result column="invoice_status" property="invoiceStatus" />
    <result column="create_time" property="createTime" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, external_order_no, user_id, total_amount, paid, status, shipping_method_id, invoice_type,
    invoice_target, recipient_name, recipient_phone, recipient_address, remark, tracking_no,
    create_time, update_time, store_id, store_name, zip_code, recipient_city
  </sql>
  <select id="selectByExample" parameterType="com.qiyuan.web.entity.example.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qiyuan.web.entity.example.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qiyuan.web.entity.Orders">
    insert into orders (id, external_order_no, user_id,
                        total_amount, paid, status,
                        shipping_method_id, invoice_type, invoice_target,
                        recipient_name, recipient_phone, recipient_address,
                        remark, tracking_no, create_time,
                        update_time, store_id, store_name, zip_code, recipient_city)
    values (#{id,jdbcType=CHAR}, #{externalOrderNo,jdbcType=VARCHAR}, #{userId,jdbcType=CHAR},
            #{totalAmount,jdbcType=DECIMAL}, #{paid,jdbcType=BIT}, #{status,jdbcType=VARCHAR},
            #{shippingMethodId,jdbcType=CHAR}, #{invoiceType,jdbcType=VARCHAR}, #{invoiceTarget,jdbcType=NVARCHAR},
            #{recipientName,jdbcType=NVARCHAR}, #{recipientPhone,jdbcType=VARCHAR}, #{recipientAddress,jdbcType=NVARCHAR},
            #{remark,jdbcType=NVARCHAR}, #{trackingNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}, #{storeId,jdbcType=VARCHAR}, #{storeName,jdbcType=NVARCHAR},#{zipCode,jdbcType=VARCHAR}, #{recipientCity,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qiyuan.web.entity.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="externalOrderNo != null">
        external_order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="paid != null">
        paid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shippingMethodId != null">
        shipping_method_id,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="invoiceTarget != null">
        invoice_target,
      </if>
      <if test="recipientName != null">
        recipient_name,
      </if>
      <if test="recipientPhone != null">
        recipient_phone,
      </if>
      <if test="recipientAddress != null">
        recipient_address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="trackingNo != null">
        tracking_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="recipientCity != null">
        recipient_city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="externalOrderNo != null">
        #{externalOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        #{paid,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="shippingMethodId != null">
        #{shippingMethodId,jdbcType=CHAR},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTarget != null">
        #{invoiceTarget,jdbcType=NVARCHAR},
      </if>
      <if test="recipientName != null">
        #{recipientName,jdbcType=NVARCHAR},
      </if>
      <if test="recipientPhone != null">
        #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null">
        #{recipientAddress,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="trackingNo != null">
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=NVARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="recipientCity != null">
        #{recipientCity,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateStatusToPaid">
    UPDATE orders SET status = 'paid' WHERE id = #{orderId}
  </update>

  <select id="countByExample" parameterType="com.qiyuan.web.entity.example.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=CHAR},
      </if>
      <if test="row.externalOrderNo != null">
        external_order_no = #{row.externalOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=CHAR},
      </if>
      <if test="row.totalAmount != null">
        total_amount = #{row.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="row.paid != null">
        paid = #{row.paid,jdbcType=BIT},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.shippingMethodId != null">
        shipping_method_id = #{row.shippingMethodId,jdbcType=CHAR},
      </if>
      <if test="row.invoiceType != null">
        invoice_type = #{row.invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="row.invoiceTarget != null">
        invoice_target = #{row.invoiceTarget,jdbcType=NVARCHAR},
      </if>
      <if test="row.recipientName != null">
        recipient_name = #{row.recipientName,jdbcType=NVARCHAR},
      </if>
      <if test="row.recipientPhone != null">
        recipient_phone = #{row.recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="row.recipientAddress != null">
        recipient_address = #{row.recipientAddress,jdbcType=NVARCHAR},
      </if>
      <if test="row.remark != null">
        remark = #{row.remark,jdbcType=NVARCHAR},
      </if>
      <if test="row.trackingNo != null">
        tracking_no = #{row.trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updateTime != null">
        update_time = #{row.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.storeId != null">
        store_id = #{row.storeId,jdbcType=VARCHAR},
      </if>
      <if test="row.storeName != null">
        store_name = #{row.storeName,jdbcType=NVARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="recipientCity != null">
        recipient_city = #{recipientCity,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set id = #{row.id,jdbcType=CHAR},
    external_order_no = #{row.externalOrderNo,jdbcType=VARCHAR},
    user_id = #{row.userId,jdbcType=CHAR},
    total_amount = #{row.totalAmount,jdbcType=DECIMAL},
    paid = #{row.paid,jdbcType=BIT},
    status = #{row.status,jdbcType=VARCHAR},
    shipping_method_id = #{row.shippingMethodId,jdbcType=CHAR},
    invoice_type = #{row.invoiceType,jdbcType=VARCHAR},
    invoice_target = #{row.invoiceTarget,jdbcType=NVARCHAR},
    recipient_name = #{row.recipientName,jdbcType=NVARCHAR},
    recipient_phone = #{row.recipientPhone,jdbcType=VARCHAR},
    recipient_address = #{row.recipientAddress,jdbcType=NVARCHAR},
    remark = #{row.remark,jdbcType=NVARCHAR},
    tracking_no = #{row.trackingNo,jdbcType=VARCHAR},
    create_time = #{row.createTime,jdbcType=TIMESTAMP},
    update_time = #{row.updateTime,jdbcType=TIMESTAMP},
    store_id = #{row.storeId,jdbcType=VARCHAR},
    store_name = #{row.storeName,jdbcType=NVARCHAR},
    zip_code = #{zipCode,jdbcType=VARCHAR},
    recipient_city = #{recipientCity,jdbcType=NVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiyuan.web.entity.Orders">
    update orders
    <set>
      <if test="externalOrderNo != null">
        external_order_no = #{externalOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="shippingMethodId != null">
        shipping_method_id = #{shippingMethodId,jdbcType=CHAR},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTarget != null">
        invoice_target = #{invoiceTarget,jdbcType=NVARCHAR},
      </if>
      <if test="recipientName != null">
        recipient_name = #{recipientName,jdbcType=NVARCHAR},
      </if>
      <if test="recipientPhone != null">
        recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null">
        recipient_address = #{recipientAddress,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="trackingNo != null">
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=NVARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="recipientCity != null">
        recipient_city = #{recipientCity,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiyuan.web.entity.Orders">
    update orders
    set external_order_no = #{externalOrderNo,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=CHAR},
        total_amount = #{totalAmount,jdbcType=DECIMAL},
        paid = #{paid,jdbcType=BIT},
        status = #{status,jdbcType=VARCHAR},
        shipping_method_id = #{shippingMethodId,jdbcType=CHAR},
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
        invoice_target = #{invoiceTarget,jdbcType=NVARCHAR},
        recipient_name = #{recipientName,jdbcType=NVARCHAR},
        recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
        recipient_address = #{recipientAddress,jdbcType=NVARCHAR},
        remark = #{remark,jdbcType=NVARCHAR},
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        store_id = #{storeId,jdbcType=VARCHAR},
        store_name = #{storeName,jdbcType=NVARCHAR},
        zip_code = #{zipCode,jdbcType=VARCHAR},
        recipient_city = #{recipientCity,jdbcType=NVARCHAR}
        where id = #{id,jdbcType=CHAR}
  </update>

  <select id="selectByExampleWithPage" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
      OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </if>
  </select>
  
	<select id="selectByExternalOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
	  select
	    <include refid="Base_Column_List" />
	  from orders
	  where external_order_no = #{externalOrderNo, jdbcType=VARCHAR}
	</select>


    <select id="listOrderDetailsAdmin" resultMap="OrderQueryResultMap">

      SELECT
      o.id,
      u.username,
      o.total_amount,
      p.provider_order_no,
      CASE WHEN o.paid = 1 THEN N'已付款' ELSE N'未付款' END AS payment_status,
      p.status,
      s.name AS shipping_method_name,
      o.invoice_type,
      CASE WHEN i.invoice_number IS NOT NULL THEN N'已開立' ELSE N'未開立' END AS invoice_status,
      CASE WHEN t.create_status IS NOT NULL THEN N'已成立' ELSE N'未成立' END AS logistics_status ,
      t.status logistics_record_status,
      ISNULL(t.waybill_no, t.vendororder) AS tracking_no,
      o.create_time
      FROM orders o
      LEFT JOIN payment_transaction p ON p.id = o.external_order_no
      LEFT JOIN invoice i ON i.external_order_no = o.external_order_no
      LEFT JOIN shipping_method s ON o.shipping_method_id = s.id
      LEFT JOIN users u ON u.id = o.user_id
      LEFT JOIN shipping_tracking t ON o.id = t.order_id
      <where>
        <if test="orderId != null and orderId != ''">
          AND o.id = #{orderId}
        </if>
        <if test="username != null and username != ''">
          AND u.username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="status != null and status != ''">
          AND o.status = #{status}
        </if>
        <if test="isPaid != null and isPaid == true">
          AND o.paid = 1
        </if>
        <if test="isPaid != null and isPaid == false">
          AND o.paid = 0
        </if>
        <if test="startTime != null">
          AND o.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
          AND o.create_time &lt;= #{endTime}
        </if>
      </where>
      ORDER BY o.create_time DESC
  </select>
</mapper>