<configuration>
    <property name="LOGS" value="./logs"/>

    <!-- 控制台日誌輸出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件日誌輸出 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/spring-boot-application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日誌級別配置 -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.qiyuan.security" level="DEBUG"/>

    <!-- 根日誌設置 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
